.Registration {
    max-width: 500px; /* Adjust the maximum width as needed */
  width: 80%; /* You can also use a specific width if preferred */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
  }
  
  .Registration h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .Registration p {
    color: red;
  }
  
  .Registration label {
    display: block;
    margin-bottom: 5px;
  }
  
  .Registration input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Registration button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .Registration button:hover {
    background-color: #0056b3;
  }
  